### List

In [1]:
a=[0,1,2,3,4,5,6,7,8,9,10]
ans=[]
for i in a:
    ans.append(i*i)
print(ans)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
b=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum=0
for i in b:
    if i%2==0:
        sum+=i
print(sum)

30

In [2]:
c=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
ans=[]
for i in c:
    if i not in ans:
        ans.append(i)
print(ans)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
d=[64, 34, 25, 12, 22, 11, 90]
print(sorted(d,reverse=True))

[90, 64, 34, 25, 22, 12, 11]

In [5]:
e=[15, 23, 31, 42, 56, 78, 91]
#print(sum(int(e))/len(e))
length=len(e)
sum=0
for i in e:
    sum+=i
print(sum/length)

48.0

In [6]:
f=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
g=[1, 5, 2, 5, 3, 5, 4, 5, 6]
count=0
for i in g:
    if i==5:
        count+=1
print(count)

4

In [9]:
a=[1, 2, 3, 4, 5] 
b=[4, 5, 6, 7, 8]
for i in a:
    for j in b:
        if i==j:
            print(i)

4
5

In [11]:
h=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in h:
    print(sum([0][i]))

TypeError: list indices must be integers or slices, not list

In [12]:
mixed_data=[1, "hello", 3.14, True, [1, 2, 3]]
for i in mixed_data:
    print(i)

1
hello
3.14
True
[1, 2, 3]

In [13]:
len_string=["apple", "banana", "cherry", "date"]
for i in len_string:
    print(len(i))

5
6
6
4

In [14]:
#Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
list_of_tup=[(1, 'a'), (2, 'b'), (3, 'c')]
for i in list_of_tup:
    ans=[]
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [15]:
# Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
extract_first=[(1, 'a'), (2, 'b'), (3, 'c')]
for i in extract_first:
    print(extract_first[i][0])
result = []
for t in data:
    result.append(t[0])

print(result)

TypeError: list indices must be integers or slices, not tuple

In [16]:
#Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(0,len(matrix)):
    print(matrix[0][i],matrix[1][i],matrix[2][i])

1 4 7
2 5 8
3 6 9

In [17]:
#Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
sub=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
for i in sub:
    print(max(i))

5
9
8

In [18]:
#Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
Three_d=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
for i in range(0,len(Three_d)):
    print(Three_d[i])

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

In [19]:
#Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
Three_sum=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
sum=0
for lst in Three_sum:
    for row in lst:
        for val in row:
            sum+=val
print(sum)

36

In [20]:
#Extract all even numbers from nested list 
ans=[]
for lst in Three_sum:
    for row in lst:
        for val in row:
            if val%2==0:
                ans.append(val)
print(ans)

[2, 4, 6, 8]

In [21]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mix=[1, "hello", 3.14, True, [1, 2, 3]]
ans=[]
for i in mix:
    ans.append(i)
print(ans)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [22]:
#Find the length of each string in ["apple", "banana", "cherry", "date"]
length_str=["apple", "banana", "cherry", "date"]
for i in length_str:
    print(len(i))

5
6
6
4

In [23]:
# Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
lst_of_tup= [(1, 'a'), (2, 'b'), (3, 'c')]
lst=[]
for i in lst_of_tup:
    lst.append(i)
print(lst)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [24]:
#Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
first=[(1, 'a'), (2, 'b'), (3, 'c')]
for i in first:
    print(i[0],end=' ')

1 2 3

In [25]:
# Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
ans=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
for person in ans:
    for k, v in person.items():
        print(k, ":", v)
    print()

name : Alice
age : 25

name : Bob
age : 30

In [26]:
ans = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
for person in ans:
    print(person['name'])

Alice
Bob

In [27]:
#Find the person with maximum age in list of dictionaries")
ans = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
oldest = max(ans, key=lambda x: x['age'])
print(oldest['name'], oldest['age'])

Bob 30

In [28]:
#Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
d4 = [
    [[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
    [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]
]

for block in d4:          
    for matrix in block: 
        for row in matrix:  
            for value in row:  
                print(value, end=" ")
            print()
        print()
    print(" ")

1 2
3 4

5 6
7 8


9 10
11 12

13 14
15 16

In [29]:
#Find the maximum value in 4D list
d4 = [
    [[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
    [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]
]

max_val = float('-inf')

for block in d4:
    for matrix in block:
        for row in matrix:
            for value in row:
                if value > max_val:
                    max_val = value

print("Maximum value in 4D list:", max_val)

Maximum value in 4D list: 16

In [30]:
#Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
sets=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
ans=[]
for i in sets:
    ans.append(i)
print(ans)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [32]:
#Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
com= [1+2j, 3+4j, 5+6j]
ans=[]
for i in com:
    ans.append(i)
print(ans)

[(1+2j), (3+4j), (5+6j)]

In [33]:
#Create a list of functions: [len, str, int, float]
funcs = [len, str, int, float]
value = "1234"

for f in funcs:
    print(f(value))

4
1234
1234
1234.0

In [34]:
# Apply each function in list to string "123"
funcs = [len, str, int, float]
value = "123"
for f in funcs:
    print(f(value))

3
123
123
123.0

In [35]:
#Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
funcs=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
x=3
for f in funcs:
    print(f(x))

6
9
4

In [36]:
#Apply each lambda function to 5
x=5
print((lambda x:x+6)(x))

11

In [37]:
#Create a list of classes: [list, dict, set, tuple]
classes=[list, dict, set, tuple]
for cls in classes:
    obj = cls()   # create an empty object of that class
    print(obj, type(obj))

[] <class 'list'>
{} <class 'dict'>
set() <class 'set'>
() <class 'tuple'>

In [38]:
# Create instances of each class in list
classes = [list, dict, set, tuple]
instances = []
for cls in classes:
    instances.append(cls())
print(instances)

[[], {}, set(), ()]

In [39]:
#Create a list of generators
generators = [(x for x in range(3)), (x for x in range(5))]
print(generators)

[<generator object <genexpr> at 0x000001BF340CAF80>, <generator object <genexpr> at 0x000001BF340CBC40>]

In [40]:
#Convert each generator to list"
lists_from_generators = [list(g) for g in generators]
print(lists_from_generators)

[[0, 1, 2], [0, 1, 2, 3, 4]]

In [41]:
# Create a list of iterators"
iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iterators)

[<list_iterator object at 0x000001BF3457D0F0>, <list_iterator object at 0x000001BF3457ED70>]

In [42]:
#Extract all elements from each iterator"

lists_from_iterators = [list(it) for it in iterators]
print(lists_from_iterators)

[[1, 2, 3], [4, 5, 6]]