### Tuple

In [1]:
#Create a tuple of first 10 natural numbers")
natural=(1,2,3,4,5,6,7,8,9,10)
print(natural)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
#Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
length=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(length))

10

In [2]:
#Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
third=('a', 'b', 'c', 'd', 'e')
print(third[2])

c

In [4]:
#Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print(max((23, 45, 12, 67, 34, 89, 56)))

89

In [5]:
#Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
cou=(1, 5, 2, 5, 3, 5, 4, 5, 6)
print(cou.count(5))

4

In [6]:
#Create a tuple of mixed data types (integer, float, string, boolean)
mix = (int, float, str, bool)
value = 6
for val in mix:
    print(val(value))

6
6.0
6
True

In [7]:
#Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
ind= ('java', 'python', 'c++', 'javascript')
print(ind.index('python'))

1

In [8]:
#Check if 25 exists in tuple (10, 20, 30, 40, 50)
check=(10, 20, 30, 40, 50)
print(25 in check)

False

In [9]:
#Create a tuple of first 5 even numbers
eve=(0,1,2,3,4,5,6,7,8,9)
sum=0
for i in eve:
    if i%2==0:
        sum+=i
print(sum)

20

In [10]:
#Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
avg=(15, 23, 31, 42, 56, 78)
n=len(avg)
summ=0
for i in avg:
    summ+=i
print(summ/n)

40.833333333333336