In [2]:
#Count how many vowels are in a given string.
str="sreekanth"
count=0
vowels='aeiouAEIOU'
for i in str:
    if i in vowels:
        count+=1
print(f"vowels count is {count}")

vowels count is 3

In [3]:
#Reverse a number using only a for loop (no slicing).
number='12345'
rev=''
for i in number:
    rev=i+rev
print(f"the reverse of {number} is {rev}")

the reverse of 12345 is 54321

In [4]:
#Find the sum of digits of a number.
number=1234
sum=0
while(number>0):
    num=number%10
    sum+=num
    number=number//10
print(f"the sum of number is {sum}")

the sum of number is 10

In [5]:
#4. Print all even numbers between 1 and 100 using a for loop.
for i in range(1,100):
    if i%2==0:
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [6]:
#Find the factorial of a number.
num=5
fact=1
for i in range(1,num+1):
    fact=fact*i
print(f"factorial of {num} is {fact}")

factorial of 5 is 120

In [7]:
#Check whether a number is prime using a for loop.
n = 11
if n <= 1:
    print(False)
else:
    is_prime = True  # Flag variable
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            is_prime = False
            break
    print(is_prime)

True

In [8]:
#Print the multiplication table of a number up to 10.
n=10
num=11
for i in range(1,n+1):
    ans=num*i
    print(f"{num}*{i}={ans}")

11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110

In [11]:
#ount how many digits are in a number.
number=str(12323)
count=0
for i in str(number):
    count+=1
print(f"the length of {number} is {count}")

TypeError: 'str' object is not callable

In [ ]:
#9. Find the largest number in a list.
num= [4, 7, 1, 9, 3]
large=num[0]
for i in num:
    if i>large:
        large=i
print(large)

9

In [ ]:
"""
11. From 1 to 50, find:
a) sum of even numbers
b) sum of odd numbers"""
even=0
odd=0
for i in range(1,51):
    if i%2==0:
        even+=i
    else:
        odd+=i
print(f"sum of odd numbers is {odd}")
print(f"sum of even numbers is {even}")

sum of odd numbers is 625
sum of even numbers is 650

In [ ]:
"""12. Remove all spaces from a string.
Example: data science rocks â†’ "datasciencerocks"""

str="data science rocks"
ans=''
for i in str:
    if i!=' ':
        ans+=i
print(f"the str after removing spaces is {ans}")

the str after removing spaces is datasciencerocks

In [ ]:
#13. Check whether a string is a palindrome.
str='madam'
original=str
rev=''
for i in str:
    rev=i+rev
if str==original:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [ ]:
#14. Find duplicate values in a list.
dupli= [1,2,3,2,4,5,1]
duplicates=[]
for i in range(len(dupli)):
    for j in range(i+1,len(dupli)):
        if dupli[i]==dupli[j] and dupli[i] not in duplicates:
            duplicates.append(dupli[i])
print(f"duplicates are {duplicates}")

duplicates are [1, 2]

In [ ]:
#Print the frequency of each character in a string.
text = 'banana'
freq = {}
for ch in text:
    if ch in freq:
        freq[ch]+=1
    else:
        freq[ch]=1
for key,value in freq.items():
    print(f"{key}:{value}")

b:1
a:3
n:2

In [ ]:
# Print the following pattern for n = 4:
n=4
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *